.jumbotron {
    text-align: center;
    background-color: 58a11c;   
}


/* body  {
    background-image: url("picnicpic.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
} */



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }


  .cardOne {
    width: 50%;
    border-style: solid;
  border-color: coral;
  clear: both;
  }


  .cardTwo {
    width: 50%;
    border-style: solid;
  border-color: coral;
  clear: both;
}

.cardThree {
  width: 50%;
    border-style: solid;
  border-color: coral;
  clear: both;
}

.cardFour {
  width: 50%;
    border-style: solid;
  border-color: coral;
  clear: both;
}



.scrollBar{
  background-color:#f7f7f9;
  width: 100%;
  height: 400px;
  overflow: auto;
  border: 3px solid coral;
}

.scrollBarC{
  background-color:#f7f7f9;
  width: 100%;
  height: 500px;
  overflow: auto;
  border: 3px solid coral;
}

.card{
height: 110%;
}

/* 
form {
  margin-top: 20px;
}
#calendartitle, #calendartitle2 {
  font-display:
}
/* body {
  background-color: rgb(171, 230, 200); */
}
.text {
  background-color: white;
} */