<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="css.css">
  <script src="https://developer.edamam.com/attribution/badge.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="">


  <!-- JUMBOTRON -->
  <div style="background:#58a11c" class="jumbotron">
    <div class="container">
      <h1 class="display-4"><a href="https://fontmeme.com/calligraphy-fonts/"><img
            src="https://fontmeme.com/permalink/190706/f7bd53d3cbd43e501caa4fae417b08d6.png" alt="calligraphy-fonts"
            border="0"></a></h1>
      <p class="lead"><strong><a href="https://fontmeme.com/sans-serif-fonts/"><img
              src="https://fontmeme.com/permalink/190706/29e01342fc105ad044463f2decaad6ee.png" alt="sans-serif-fonts"
              border="0"></a></strong></p>
    </div>
  </div>
  </div>
  <!-- Divs Ended for jumbotron -->

  <!-- ------------------------------------------ -->

  <!-- main picnic picture -->
  <div>
    <img src="picnicpic.jpg" alt="mainPic" class="center">
  </div>


  <br>
  <br>
  <br>
  <br>

  <!-- ------------------------------------------ -->

  <!-- bootstrap cards -->

  <!-- <div class="card-group"> -->
  <div class="card" style="width: 100%;">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">

          <!-- font awesome  -->
          <i class="fas fa-search fa-2x"></i>
          <a href="https://fontmeme.com/calligraphy-fonts/"><img
              src="https://fontmeme.com/permalink/190706/728d54bbebf8d6af2386c03ac6a8d5fb.png" alt="calligraphy-fonts"
              border="0"></a>
        </h5>
        <p class="card-text"></p>

        <!-- Search bar for recipes -->
        <form>

          <!--IF WE NEED TO GO BACK TO A BOOTSTRAP INPUT BOX-->
          <!-- <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="ex: summer salad">
            </div> -->


          <div class="form-group">
            <!-- <div ng-app=""> -->


              <input type="text" ng-model="name" id="recipeSearch" placeholder="Enter recipe keyword here">
              <h1>{{name}}</h1>
            <!-- </div> -->

            <button type="submit" class="btn btn-success" id="run-search"><i class="fa fa-search"></i>Submit</button>
        </form>

        <br>
        <br>




        <!-- Recipe appended API data here -->


        <div id="recipeDiv" class="scrollBar" style="overflow: auto" >

        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="card" style="width: 100%;">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">

          <!-- font awesome  -->
          <i class="fas fa-cloud-sun fa-4x"></i>
          <a href="https://fontmeme.com/calligraphy-fonts/"><img
              src="https://fontmeme.com/permalink/190706/05a0744007bd07749b4db884cc221a50.png" alt="calligraphy-fonts"
              border="0"></a>
        </h5>
        <p class="card-text"></p>

        <!-- Search bar for weather -->
        <form>

          <!--IF WE NEED TO GO BACK TO A BOOTSTRAP INPUT BOX-->
          <!-- <div class="form-group">

              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="zip code">
            </div> -->


          <div class="form-group">
            <!-- <div ng-app=""> -->


              <input type="text" ng-model="zip" id="recipeSearch" placeholder="Enter your zip code">
              <h1>{{zip}}</h1>
            <!-- </div> -->

            <button type="button" class="btn btn-success">Submit</button>
        </form>
      </div>
      <br>
      <br>



      <div class="scrollBar">
        <p>test data, test data,test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,

          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,

          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,
          test data, test data,


        </p>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>






  </div>
  


  <br>
  <br>


  <br>
  <br>

  <div class="card" style="width: 100%;">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">
          <a href="https://fontmeme.com/calligraphy-fonts/"><img
              src="https://fontmeme.com/permalink/190706/8c662815c29e2aa98bf0342e519ce8c0.png" alt="calligraphy-fonts"
              border="0"></a>
        </h5>
        <p class="card-text"></p>


        <!-- Pictures for the user to click on to quickly search seasonal recipes -->


        <div class="container">
          <div class="row">
            <div class="col-6">
              <a href="default.asp">
                <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                      src="https://fontmeme.com/permalink/190706/ba83e1198f2afcf9655ca15cc84b595b.png"
                      alt="sans-serif-fonts" border="0"></a></p>
                <img src="springfood.JPG" id="spring" alt="springLink" class="cardOne" style="width:20%;">
              </a>
            </div>

            <div class="col-6">
              <a href="default.asp">
                <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                      src="https://fontmeme.com/permalink/190706/6fc18586212dd2776eff74a9cac6d054.png"
                      alt="sans-serif-fonts" border="0"></a></p>
                <img src="summerfood.JPG" id="summer" alt="summerLink" class="cardTwo" style="width:20%;">
              </a>
            </div>

            <div class="col-6">
              <a href="default.asp">
                <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                      src="https://fontmeme.com/permalink/190706/4ebf30e9d4206e80734570ec661b54a4.png"
                      alt="sans-serif-fonts" border="0"></a></p>
                <img src="fallfood.JPG" id="fall" alt="fallLink" class="cardThree" style="width:20%;">
              </a>

            </div>

            <div class="col-6">


              <a href="default.asp">
                <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                      src="https://fontmeme.com/permalink/190706/22d7e55eda5c44944d1561a12c0713d8.png"
                      alt="sans-serif-fonts" border="0"></a></p>
                <img src="winterfood.JPG" id="winter" alt="winterLink" class="cardFour" style="width:20%;">
              </a>

            </div>
          </div>




          <!-- <div class="row">
          <div class="column">
            <a href="default.asp">
              <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                    src="https://fontmeme.com/permalink/190706/ba83e1198f2afcf9655ca15cc84b595b.png"
                    alt="sans-serif-fonts" border="0"></a></p>
              <img src="springfood.JPG" id="spring" alt="springLink" class="cardOne" style="width:20%;">
            </a>

            <br>
            <br> -->

          <!-- Summer Link
            <div class="row">
              <div class="column">
                <a href="default.asp">
                  <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                        src="https://fontmeme.com/permalink/190706/6fc18586212dd2776eff74a9cac6d054.png"
                        alt="sans-serif-fonts" border="0"></a></p>
                  <img src="summerfood.JPG" id="summer" alt="summerLink" class="cardTwo" style="width:20%;">
                </a> -->




          <!-- Fall Link -->
          <!-- <div class="row">
                  <div class="column">
                    <a href="default.asp">
                      <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                            src="https://fontmeme.com/permalink/190706/4ebf30e9d4206e80734570ec661b54a4.png"
                            alt="sans-serif-fonts" border="0"></a></p>
                      <img src="fallfood.JPG" id="fall" alt="fallLink" class="cardThree" style="width:20%;">
                    </a>

                    <br>
                    <br> -->

          <!-- Winter Link
                    <div class="row">
                      <div class="column">
                        <a href="default.asp">
                          <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                                src="https://fontmeme.com/permalink/190706/22d7e55eda5c44944d1561a12c0713d8.png"
                                alt="sans-serif-fonts" border="0"></a></p>
                          <img src="winterfood.JPG" id="winter" alt="winterLink" class="cardFour" style="width:20%;">
                        </a>

                      </div>
                    </div>
                  </div> -->

        </div>
      </div>



    </div>
  </div>

  <br>



  <div class="container">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-calendar-alt fa-3x"></i>
            <a href="https://fontmeme.com/calligraphy-fonts/"><img
                src="https://fontmeme.com/permalink/190706/9bf147cd409984c82da751148c921491.png" alt="calligraphy-fonts"
                border="0"></a>

            <div class="scrollBar">
              <p>test data, test data,test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,

                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,

                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,
                test data, test data,



                <!--calender-->
                <h1>
                  <center>Recipe Planner</center>
                </h1>
                <h2>
                  <center>Paste your favorite recipe links into the desired days below:</center>
                </h2>
                <div id="display"></div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">
                        <center>Monday</center>
                      </th>
                      <th scope="col">
                        <center>Tuesday</center>
                      </th>
                      <th scope="col">
                        <center>Wednesday</center>
                      </th>
                      <th scope="col">
                        <center>Thursday</center>
                      </th>
                      <th scope="col">
                        <center>Friday</center>
                      </th>
                      <th scope="col">
                        <center>Saturday</center>
                      </th>
                      <th scope="col">
                        <center>Sunday</center>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <form>
                          <input type="text" id="user_input1">
                        </form>
                        <input type="submit" onclick="showInput();"><br />
                        <p><span id='text1'></span></p>
                        <button id="clear1">Clear</button>
                      </td>
                      <td>
                        <form>
                          <input type="text" id="user_input2">
                        </form>
                        <input type="submit" onclick="showInput();"><br />
                        <p><span id='text2'></span></p>
                        <button id="clear2">Clear</button>
                      </td>
                      <td>
                        <form>
                          <input type="text" id="user_input3">
                        </form>
                        <input type="submit" onclick="showInput();"><br />
                        <p><span id='text3'></span></p>
                        <button id="clear3">Clear</button>
                      </td>
                      <td>
                        <form>
                          <input type="text" id="user_input4">
                        </form>
                        <input type="submit" onclick="showInput();"><br />
                        <p><span id='text4'></span></p>
                        <button id="clear4">Clear</button>
                      </td>
                      <td>
                        <form>
                          <input type="text" id="user_input5">
                        </form>
                        <input type="submit" onclick="showInput();"><br />
                        <p><span id='text5'></span></p>
                        <button id="clear5">Clear</button>
                      </td>
                      <td>
                        <form>
                          <input type="text" id="user_input6">
                        </form>
                        <input type="submit" onclick="showInput();"><br />
                        <p><span id='text6'></span></p>
                        <button id="clear6">Clear</button>
                      </td>
                      <td>
                        <form>
                          <input type="text" id="user_input7">
                        </form>
                        <input type="submit" onclick="showInput();"><br />
                        <p><span id="text7"></span></p>
                        <button id="clear7">Clear</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script type="text/javascript"
                  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script type="text/javascript">
                  //Submit link and display on page
                  function showInput() {
                    document.getElementById('text1').innerHTML =
                      document.getElementById("user_input1").value;
                  }
                  function showInput() {
                    document.getElementById('text2').innerHTML =
                      document.getElementById("user_input2").value;
                  }
                  function showInput() {
                    document.getElementById('text3').innerHTML =
                      document.getElementById("user_input3").value;
                  }
                  function showInput() {
                    document.getElementById('text4').innerHTML =
                      document.getElementById("user_input4").value;
                  }
                  function showInput() {
                    document.getElementById('text5').innerHTML =
                      document.getElementById("user_input5").value;
                  }
                  function showInput() {
                    document.getElementById('text6').innerHTML =
                      document.getElementById("user_input6").value;
                  }
                  function showInput() {
                    document.getElementById('text7').innerHTML =
                      document.getElementById("user_input7").value;
                  }
                  //Clear buttons
                  $("#clear1").on("click", function () {
                    $("#text1").empty();
                  });
                  $("#clear2").on("click", function () {
                    $("#text2").empty();
                  });
                  $("#clear3").on("click", function () {
                    $("#text3").empty();
                  });
                  $("#clear4").on("click", function () {
                    $("#text4").empty();
                  });
                  $("#clear5").on("click", function () {
                    $("#text5").empty();
                  });
                  $("#clear6").on("click", function () {
                    $("#text6").empty();
                  });
                  $("#clear7").on("click", function () {
                    $("#text7").empty();
                  });
                </script>



                <!--calender-->

              </p>
            </div>

          </h5>
        </div>
      </div>
    </div>
  </div>




  <div>
    <div id="edamam-badge" data-color="white"></div>
  </div> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js" type="text/javascript"></script>
  <script src="https://kit.fontawesome.com/76608e333b.js"></script>
</body>

</html>