<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- External CSS style sheet -->
  <link rel="stylesheet" href="css.css">
  <!-- Edamam tag for the bottom of the page -->
  <script src="https://developer.edamam.com/attribution/badge.js"></script>
  <!-- Angular Script Tag -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript MATERIALIZE -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- Angular wrapper to activate the angular with the search boxes -->

<body ng-app="">


  <!-- JUMBOTRON -->
  <div style="background:#58a11c" class="jumbotron">
    <div class="container">
      <h1 class="display-4"><a href="https://fontmeme.com/calligraphy-fonts/"><img
            src="https://fontmeme.com/permalink/190706/f7bd53d3cbd43e501caa4fae417b08d6.png" alt="calligraphy-fonts"
            border="0"></a></h1>
      <p class="lead"><strong><a href="https://fontmeme.com/sans-serif-fonts/"><img
              src="https://fontmeme.com/permalink/190706/29e01342fc105ad044463f2decaad6ee.png" alt="sans-serif-fonts"
              border="0"></a></strong></p>
    </div>
  </div>
  </div>
  <!-- Divs Ended for jumbotron -->

  <!-- ------------------------------------------ -->

  <!-- main picnic picture -->
  <div>
    <img src="picnicpic.jpg" alt="mainPic" class="center">
  </div>


  <br>
  <br>
  <br>
  <br>

  <!-- ------------------------------------------ -->

  <!-- bootstrap cards -->

  <!-- <div class="card-group"> -->
  <div class="card" style="width: 100%;" class="z-depth-5">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">

          <!-- font awesome  -->
          <i class="fas fa-search fa-2x"></i>
          <a href="https://fontmeme.com/calligraphy-fonts/"><img
              src="https://fontmeme.com/permalink/190706/728d54bbebf8d6af2386c03ac6a8d5fb.png" alt="calligraphy-fonts"
              border="0"></a>
        </h5>
        <p class="card-text"></p>

        <!-- Search bar for recipes -->
        <form id="searchForm">

          <!-- REMOVED normal search bar, using angular instead -->
          <!--IF WE NEED TO GO BACK TO A BOOTSTRAP INPUT BOX-->
          <!-- <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="ex: summer salad">
            </div> -->


          <div class="form-group">
            <!-- <div ng-app=""> -->


            <input type="text" ng-model="name" id="recipeSearch" placeholder="Enter recipe keyword here">
            <h1>{{name}}</h1>
            <!-- </div> -->

            <button type="submit" class="btn btn-success" id="run-search">Submit</button>
        </form>

        <br>
        <br>




        <!-- Recipe appended API data here -->


        <div id="recipeDiv" class="scrollBar">
         
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="card" style="width: 100%;" class="z-depth-5">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">

          <!-- font awesome  -->
          <i class="fas fa-cloud-sun fa-4x"></i>
          <a href="https://fontmeme.com/calligraphy-fonts/"><img
              src="https://fontmeme.com/permalink/190706/05a0744007bd07749b4db884cc221a50.png" alt="calligraphy-fonts"
              border="0"></a>
        </h5>
        <p class="card-text"></p>

        <!-- Search bar for weather -->
        <form>

          <!--IF WE NEED TO GO BACK TO A BOOTSTRAP INPUT BOX-->
          <!-- <div class="form-group">

              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="zip code">
            </div> -->


          <div class="form-group">
            <!-- <div ng-app=""> -->


            <input type="number" ng-model="zip" id="zip" placeholder="Enter your zip code">
            <h1>{{zip}}</h1>
            <!-- </div> -->

            <button type="submit" class="btn btn-success" id="button">Submit</button>
        </form>
      </div>
      <br>
      <br>



      <div class="scrollBar" id="weather">
          <div class="city"></div>
          <div class="temp"></div>
          <div class="wind"></div>
          <div class="humidity"></div>

        
        
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>






  </div>



  <br>
  <br>


  <br>
  <br>

  <div class="card" style="width: 100%;" class="z-depth-5">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">
          <a href="https://fontmeme.com/calligraphy-fonts/"><img
              src="https://fontmeme.com/permalink/190706/8c662815c29e2aa98bf0342e519ce8c0.png" alt="calligraphy-fonts"
              border="0"></a>
        </h5>
        <p class="card-text"></p>


        <!-- Pictures for the user to click on to quickly search seasonal recipes -->


        <div class="container">
          <div class="row">
            <div class="col-3">
              <a href="default.asp">
                <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                      src="https://fontmeme.com/permalink/190706/ba83e1198f2afcf9655ca15cc84b595b.png"
                      alt="sans-serif-fonts" border="0"></a></p>
                <img src="springfood.JPG" id="spring" alt="springLink" class="cardOne">
              </a>
            </div>

            <div class="col-3">
              <a href="default.asp">
                <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                      src="https://fontmeme.com/permalink/190706/6fc18586212dd2776eff74a9cac6d054.png"
                      alt="sans-serif-fonts" border="0"></a></p>
                <img src="summerfood.JPG" id="summer" alt="summerLink" class="cardTwo">
              </a>
            </div>

            <div class="col-3">
              <a href="default.asp">
                <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                      src="https://fontmeme.com/permalink/190706/4ebf30e9d4206e80734570ec661b54a4.png"
                      alt="sans-serif-fonts" border="0"></a></p>
                <img src="fallfood.JPG" id="fall" alt="fallLink" class="cardThree">
              </a>

            </div>

            <div class="col-3">


              <a href="default.asp">
                <p><a href="https://fontmeme.com/sans-serif-fonts/"><img
                      src="https://fontmeme.com/permalink/190706/22d7e55eda5c44944d1561a12c0713d8.png"
                      alt="sans-serif-fonts" border="0"></a></p>
                <img src="winterfood.JPG" id="winter" alt="winterLink" class="cardFour">
              </a>

            </div>
          </div>


        </div>
      </div>



    </div>
  </div>

  <br>

  <!-- Div to hold the calender -->

  <div class="card" style="width: 100%;" class="z-depth-5">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">


          <i class="far fa-calendar-alt fa-3x"></i>
          <a href="https://fontmeme.com/calligraphy-fonts/"><img
              src="https://fontmeme.com/permalink/190706/9bf147cd409984c82da751148c921491.png" alt="calligraphy-fonts"
              border="0"></a>

          <div class="scrollBarC">
            <p>

       
              <h1>
                <center>Recipe Planner</center>
              </h1>
              <h2>
                <center>Paste your favorite recipe links into the desired days below:</center>
              </h2>

              <div id="container"></div>
              <div class="row small-up-3 medium-up-5 large-up-7">
                <div class="column" style="border:1px solid #000000"><strong>Monday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Tuesday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Wednesday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Thursday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Friday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Saturday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Sunday</strong></div>
              </div>
              <div class="row small-up-3 medium-up-5 large-up-7">
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input1">
                  </form>
                  <input type="submit" onclick="showInput(1);"><br />
                  <div id='text1' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear1" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input2">
                  </form>
                  <input type="submit" onclick="showInput(2);"><br />
                  <div id='text2' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear2" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input3">
                  </form>
                  <input type="submit" onclick="showInput(3);"><br />
                  <div id='text3' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear3" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input4">
                  </form>
                  <input type="submit" onclick="showInput(4);"><br />
                  <div id='text4' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear4" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input5">
                  </form>
                  <input type="submit" onclick="showInput(5);"><br />
                  <div id='text5' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear5" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input6">
                  </form>
                  <input type="submit" onclick="showInput(6);"><br />
                  <div id='text6' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear6" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input7">
                  </form>
                  <input type="submit" onclick="showInput(7);"><br />
                  <div id='text7' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear7" class="clear button">Clear</button>
                </div>
              </div>
              <div class="row small-up-3 medium-up-5 large-up-7">
                <div class="column" style="border:1px solid #000000"><strong>Monday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Tuesday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Wednesday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Thursday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Friday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Saturday</strong></div>
                <div class="column" style="border:1px solid #000000"><strong>Sunday</strong></div>
              </div>
              <div class="row small-up-3 medium-up-5 large-up-7">
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input8">
                  </form>
                  <input type="submit" onclick="showInput(8);"><br />
                  <div id='text8' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear8" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input9">
                  </form>
                  <input type="submit" onclick="showInput(9);"><br />
                  <div id='text9' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear9" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input10">
                  </form>
                  <input type="submit" onclick="showInput(10);"><br />
                  <div id='text10' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear10" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input11">
                  </form>
                  <input type="submit" onclick="showInput(11);"><br />
                  <div id="text11" style="overflow: auto">
                    <ul></ul>
                  </div>
                  <!-- new button -->
                  <button type="button" id="clear11" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input12">
                  </form>
                  <input type="submit" onclick="showInput(12);"><br />
                  <div id='text12' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear12" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input13">
                  </form>
                  <input type="submit" onclick="showInput(13);"><br />
                  <div id='text13' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear13" class="clear button">Clear</button>
                </div>
                <div class="column" style="border:1px solid #000000">
                  <form>
                    <input type="text" id="user_input14">
                  </form>
                  <input type="submit" onclick="showInput(14);"><br />
                  <div id='text14' style="overflow: auto">
                    <ul></ul>
                  </div>
                  <button type="button" id="clear14" class="clear button">Clear</button>
                </div>
              </div>
          </div>


          </p>


      </div>
    </div>
  </div>
  </div>




  <!-- Powered by Edamam badge -->
  <div>
    <div id="edamam-badge" data-color="white"></div>
  </div>
  <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="javacal.js" type="text/javascript"></script>
 
  <script src="API.js" type="text/javascript"></script>
  <script src="recipeJava.js" type="text/javascript"></script>
  <script src="https://kit.fontawesome.com/76608e333b.js"></script>
</body>

</html>